.start {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 6;
    display: flex;
} 

.start__container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.start__container-title, .start__container-text, .start__container-subtitle {
    color: white;
}

.start__container-btn {
    width: 50px;
    cursor: pointer;
    filter: grayscale(1) invert(1);
}

.type-of-game {
    display: flex;
    align-items: center;
    justify-content: center;
}

.type-of-game__501, .type-of-game__301, .type-of-game__cricket {
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
    color: white;
}

.type-of-game__301 {
    margin: 0 20px;
}
