.playerScore {
    width: 100%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pl-name {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.pl-score {
    width: 70%;
    height: 35px;
    font-size: 30px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 2px solid black;
}

.players {
    width: 100px;
    height: 200px;
    margin-left: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.player {
    width: 100px;
    height: 30px;
    background-color: red;
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;

    &.is-active {
        background-color: green;
    }
}
